# Manipulating MySQL Data in Python

ip-biocode $\cdot$ March 22, 2022

This file makes connection to MySQL database through python to retrieve, manipulate, and analyze data. Make sure to download and install the most recent version of MySQL on your local machine, which is available at this community server: https://dev.mysql.com/downloads/mysql/.

After installing MySQL, install MySQL Connector for python.

In [48]:
## Toggle comment if already installed
# !pip install mysql-connector-python
# !pip install PyMySQL
# !pip install SQLAlchemy

In [41]:
# Call libraries
import pandas as pd
import mysql.connector, pymysql, sqlalchemy, ipython-sql
from sqlalchemy import create_engine

## Conventional Approach (Without Magic)

### Connect to MySQL

In [4]:
# Establish connection
mydb = mysql.connector.connect(
    host = 'localhost',
    user = 'root', # default
    password = 'dhdhtkdbr' # your pw
)

print(mydb)

# Create cursor to interact with MySQL
cs = mydb.cursor()

<mysql.connector.connection_cext.CMySQLConnection object at 0x10a99f460>

### Create a Database

In [9]:
# # Convention to drop before create
# cs.execute("DROP DATABASE mydatabase")

# Create table named 'Instructor'
cs.execute("CREATE DATABASE mydatabase")

# Verify
cs.execute("SHOW DATABASES")
for x in cs:
    print(x)

('information_schema',)
('mydatabase',)
('mysql',)
('performance_schema',)
('sys',)

### Create a Table

In [10]:
# Connect to database
mydb = mysql.connector.connect(
  host = "localhost",
  user = "root",
  password = "dhdhtkdbr",
  database = "mydatabase"
)

cs = mydb.cursor()

# # Drop if exists
# cs.execute("DROP TABLE Instructor")

# Create table by defining fields
cs.execute("CREATE TABLE Instructor (ID INTEGER PRIMARY KEY NOT NULL, \
    FNAME VARCHAR(20), LNAME VARCHAR(20), \
    CITY VARCHAR(20), CCODE CHAR(2))")

# Verify table created
cs.execute("SHOW TABLES")

for x in cs:
    print(x)

('Instructor',)

### Add Values

In [11]:
ins_str = "INSERT INTO Instructor (ID, FNAME, LNAME, CITY, CCODE) VALUES (%s, %s, %s, %s, %s)"
vals = [(1, 'Rav', 'Ahuja', 'TORONTO', 'CA'),
        (2, 'Raul', 'Chong', 'Markham', 'CA'), 
        (3, 'Hima', 'Vasudevan', 'Chicago', 'US')]

cs.executemany(ins_str, vals)
mydb.commit()

print(cs.rowcount, "records were inserted!")

3 records were inserted!

### Update Data

In [22]:
# Change Rav's CITY to Moosetown
cs.execute("UPDATE Instructor SET CITY = 'Moosetown' WHERE FNAME = 'Rav'")

# Change

### Query Data

In [23]:
cs.execute("SELECT * FROM Instructor")

res = cs.fetchall()

In [24]:
for x in res:
    print(x)

(1, 'Rav', 'Ahuja', 'Moosetown', 'CA')
(2, 'Raul', 'Chong', 'Markham', 'CA')
(3, 'Hima', 'Vasudevan', 'Chicago', 'US')

### Retrieve Data into Pandas

In [38]:
# Connect pandas to MySQL
db_connection_str = 'mysql+pymysql://root:dhdhtkdbr@localhost:3306/mydatabase'
db_connection = create_engine(db_connection_str)

In [45]:
df = pd.read_sql('SELECT * FROM Instructor', con = db_connection)
df.head()

   ID FNAME      LNAME     CITY CCODE
0   1   Rav      Ahuja  TORONTO    CA
1   2  Raul      Chong  Markham    CA
2   3  Hima  Vasudevan  Chicago    US

### Close Connection

In [43]:
cs.close()

True

## Approach using SQL Magic

Jupyter notebooks have a concept of Magic commands that can simplify working with Python, and are particularly useful for data analysis. Your notebooks can have two types of magic commands:

* **Cell** magics: start with a double %% sign and apply to the entire cell

* **Line** magics: start with a single % (percent) sign and apply to a particular line in a cell

Note: the downside of using SQL magic is we cannot open/close SQL connections to free up resources.

In [50]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [53]:
# Create connection to MySQL database
%sql mysql+pymysql://root:dhdhtkdbr@localhost:3306/mydatabase

In [54]:
%%sql

SHOW TABLES

 * mysql+pymysql://root:***@localhost:3306/mydatabase
1 rows affected.

[('Instructor',)]