# Manipulating MySQL Data in Python

March 22, 2022

This file makes connection to MySQL database through python to retrieve, manipulate, and analyze data. Make sure to download and install the most recent version of MySQL on your local machine, which is available at this community server: https://dev.mysql.com/downloads/mysql/.

After installing MySQL, install MySQL Connector for python.

In [8]:
## Toggle comment if already installed
# !pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (8.0.28)
Requirement already satisfied: protobuf>=3.0.0 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from mysql-connector-python) (3.19.4)

## Connect to MySQL

In [4]:
import mysql.connector

# Establish connection
mydb = mysql.connector.connect(
    host = 'localhost',
    user = 'root', # default
    password = 'dhdhtkdbr' # your pw
)

print(mydb)

# Create cursor to interact with MySQL
cs = mydb.cursor()

<mysql.connector.connection_cext.CMySQLConnection object at 0x10f94e860>

## Create a Database

In [6]:
# Convention to drop before create
# cs.execute("DROP DATABASE mydatabase")

# Create table named 'Instructor'
cs.execute("CREATE DATABASE mydatabase")

# Verify
cs.execute("SHOW DATABASES")
for x in cs:
    print(x)

('information_schema',)
('mydatabase',)
('mysql',)
('performance_schema',)
('sys',)

## Create a Table

In [7]:
# Connect to database
mydb = mysql.connector.connect(
  host = "localhost",
  user = "root",
  password = "dhdhtkdbr",
  database = "mydatabase"
)

cs = mydb.cursor()

# Drop if exists
cs.execute("DROP TABLE Instructor")

# Create table by defining fields
cs.execute("CREATE TABLE Instructor (ID INTEGER PRIMARY KEY NOT NULL, FNAME VARCHAR(20), LNAME VARCHAR(20), CITY VARCHAR(20), CCODE CHAR(2))")

# Verify table created
cs.execute("SHOW TABLES")

for x in cs:
    print(x)

ProgrammingError: 1051 (42S02): Unknown table 'mydatabase.instructor'

## Add Values

In [ ]:
ins_str = "INSERT INTO Instructor VALUES (%s, %s, %s, %s, %s)"
vals = [(1, 'Rav', 'Ahuja', 'TORONTO', 'CA'),
        (2, 'Raul', 'Chong', 'Markham', 'CA'), 
        (3, 'Hima', 'Vasudevan', 'Chicago', 'US')]

cs.executemany(ins_str, vals)